<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>OpenmetaTags</string>
	<key>connections</key>
	<dict>
		<key>0F0218D4-847C-4BE2-8B26-13AB54121FAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A4B671-8552-49FF-964D-B7F777772ACF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1D1AB04D-FD20-49CA-A987-05F299F5B9B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C47241BF-D622-4C90-920C-722333096713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA34C492-FB11-48B7-B7D3-6777A1457564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C8855ED-BCDE-41B1-8936-C35B1B88765E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82690111-A4C5-4E8C-87E4-E33E8A00B9EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D5B1ABF-A90E-4F32-A573-530503D441EB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove tags - {query} - from all files on the list</string>
			</dict>
		</array>
		<key>70287CC0-6579-4F08-99B3-65A22A6FDFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF8A8FD-1E6C-4718-8276-298192FE45F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>998C7D24-A204-43A3-A849-7C64A7E906AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CC89410-FCE9-4CB2-AA83-4C2B1C965E24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C47241BF-D622-4C90-920C-722333096713</key>
		<array/>
		<key>FB9327A8-0D44-4D7F-AC32-39DEAD39E38A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998C7D24-A204-43A3-A849-7C64A7E906AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Wilczyński</string>
	<key>description</key>
	<string>Tools for tagging files with Openmeta</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tags</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import fileslist as f
from openmeta import remove_tags
paths = f.to_list()
for path in paths:
	remove_tags(path, """{query}""")
f.clear()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D5B1ABF-A90E-4F32-A573-530503D441EB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Show tags</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FB9327A8-0D44-4D7F-AC32-39DEAD39E38A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import fileslist as f
f.clear()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3A4B671-8552-49FF-964D-B7F777772ACF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2" to search "tag "
end alred_script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AA34C492-FB11-48B7-B7D3-6777A1457564</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import fileslist as f
from openmeta import add_tags
paths = f.to_list()
for path in paths:
	add_tags(path, """{query}""")
f.clear()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82690111-A4C5-4E8C-87E4-E33E8A00B9EC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import fileslist as f
f.add("""{query}""")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C47241BF-D622-4C90-920C-722333096713</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tag</string>
				<key>runningsubtext</key>
				<string>No files selected</string>
				<key>script</key>
				<string>from fileslist import to_alfred_xml
print to_alfred_xml("""{query}""")</string>
				<key>subtext</key>
				<string>Add tags to all items on the list</string>
				<key>title</key>
				<string>Openmeta tagging</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C8855ED-BCDE-41B1-8936-C35B1B88765E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from openmeta import tags_to_str
paths = """{query}""".split('\t')
print '\n'.join([tags_to_str(path) for path in paths])</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>998C7D24-A204-43A3-A849-7C64A7E906AC</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>6CC89410-FCE9-4CB2-AA83-4C2B1C965E24</string>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8AF8A8FD-1E6C-4718-8276-298192FE45F9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Select files to tag</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1D1AB04D-FD20-49CA-A987-05F299F5B9B8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearselection</string>
				<key>text</key>
				<string>Clear files selected to tag</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F0218D4-847C-4BE2-8B26-13AB54121FAA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>tags</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Search by tag</string>
				<key>title</key>
				<string>Open meta</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>70287CC0-6579-4F08-99B3-65A22A6FDFD3</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F0218D4-847C-4BE2-8B26-13AB54121FAA</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>1D1AB04D-FD20-49CA-A987-05F299F5B9B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2D5B1ABF-A90E-4F32-A573-530503D441EB</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>5C8855ED-BCDE-41B1-8936-C35B1B88765E</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>6CC89410-FCE9-4CB2-AA83-4C2B1C965E24</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>70287CC0-6579-4F08-99B3-65A22A6FDFD3</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>82690111-A4C5-4E8C-87E4-E33E8A00B9EC</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>8AF8A8FD-1E6C-4718-8276-298192FE45F9</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>998C7D24-A204-43A3-A849-7C64A7E906AC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>AA34C492-FB11-48B7-B7D3-6777A1457564</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C3A4B671-8552-49FF-964D-B7F777772ACF</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>C47241BF-D622-4C90-920C-722333096713</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FB9327A8-0D44-4D7F-AC32-39DEAD39E38A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
